body {
margin : 0 ;
padding : 0 ;
}
.navbar {
    position: fixed top;
    border : 2px solid green;
    background-color: green;
    height : 120px ;
}

.box{
background-color: white;
margin: 2px;
padding: 5px;
width: 23%;
height: 200px;
display: inline-block;
}

.encaje{
    Max-width:190px;
}