/* _animacion */


.wheel {
    -webkit-animation: move_around 3s linear infinite;
    -webkit-transform-origin: 53%;
    -ms-transform-origin: 53%;
    animation: move_around 3s linear infinite;
    transform-origin: 53%;
    transform-box: fill-box;
  }
  
  @-webkit-keyframes move_around {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes move_around {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/* diples */

  .symbol {
    -webkit-animation: side_by_side 2s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation: side_by_side 2s ease-in-out infinite;
    animation-direction: alternate;
  }
  
  @-webkit-keyframes side_by_side {
    0% {
      -webkit-transform: translate(160px, 0px);
      transform: translate(160px, 0px);
    }
    100% {
      -webkit-transform: translate(160, 0);
      transform: translate(160, 0);
    }
  }
  
  @keyframes side_by_side {
    0% {
      -webkit-transform: translate(160px, 0px);
      transform: translate(160px, 0px);
    }
    100% {
      -webkit-transform: translate(160, 0);
      transform: translate(160, 0);
    }
  }