/* _typography */

h1 h2 h3 h4 h5 h6 {
  font-family: $Ubuntu;
  text-align: justify;
}

.main__left {
  &--text--h1 {
    font-family: $Ubuntu;
    font-weight: $Bold;
    font-size: $x-large;
  }

  &--text--p {
    font-family: $Ubuntu;
    font-weight: $Regular;
    font-size: $medium;
    text-align: justify;
  }

  &--text--h3 {
    font-family: $Ubuntu;
    font-weight: $Bold;
    font-size: $large;
    text-align: justify;
  }
}

.main__right {
  &--text--h1 {
    font-family: $Ubuntu;
    font-weight: $Bold;
    font-size: $large;
    text-align: center;
    text-transform: uppercase;
  }

  &--text--p {
    font-family: $Ubuntu;
    font-weight: $Regular;
    font-size: $medium;
    text-align: justify;
  }

  &--text--h3 {
    font-family: $Ubuntu;
    font-weight: $Bold;
    font-size: $large;
    text-align: justify;
  }

  &--title--h2 {
    font-family: $Poppins;
    font-weight: $Bold;
    font-size: $large;
    text-align: center;
    color: $White;
  }

  &--list--li {
    font-family: $Poppins;
    font-weight: $Regular;
    font-size: $medium;
    text-align: justify;
  }
}
