/* _layout_banner */

.banner{
    height: 285px;
    overflow: hidden;
    @media screen and (max-width: $mobile) {
        height: 105px;
        overflow: hidden;
    }
    .banner__img{
        position: relative;
          width: 100vw;
		  heigth: 100vh;
		  bottom: 150%;

        @media screen and (max-width: $mobile) {
            width: 100%;
            position: relative;
            bottom: 100%;
        }
    }
}


