//Color Scheme
$White: #FFF;
$Isabelline: #ECECEC;
$Light-gray: #D1D1D1;
$Smocky-black: #0C0910;
$Granite-gray: #646266;
$Quick-Silver: #A6A5A8;

//Font Family
$OSTTB: "Old Standard TT Bold";
$OSTTR: "Old Standard TT Regular";
$RB: "Raleway Bold";
$RR: "Raleway Regular";

// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;