// Color Scheme

$White: #FFF;
$Platinum: #E6E7E7;
$Light gray: #D1D1D1;
$Fuzzy Wuzzy: #E56353;
$Ruddy pink: #D76C69;
$Spanish pink: #ECBCBA;
$Eerie black: #E56353;
$Raisin black: #222323;
$Nickel: #6C6E70;

//Font Family
$Playfair_display: "Playfair Display";
$Roboto: "Roboto";

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;





