/* _variables */

//breakpoints
$mobile: 680px;
$tablet: 800px;

//colors
$White: #FFFFFF;
$Anti-Flash-White: #F2F4F5;
$Solid-Gray: #979797;
$Coral: #E4717A;
$Steelblue: #4682b4;

//spacing
$spacing-small: 10px 0;
$spacing-medium: 20px 0;
$spacing-large: 30px 0;
