/* _layout_footer */

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .footer__newsletter {
    background-color: $Anti-Flash-White;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      font-size: 24px;
      @media screen and (max-width: $mobile) {
        font-size: 20px;
      }
    }
    .footer__group {
      input,
      button {
        display: inline-block;
        border-width: 0;
        font-size: 13px;
        padding: 5px 10px;
      }
      button {
        background-color: $Coral;
        color: $White;
      }
    }
  }
}
