$color-white: FFF;
$color-platinum: E6E7E7;
$color-Light_gray: D1D1D1;
$color-Fuzzy_Wuzzy: E56353;
$color-Ruddy_pink: D76C69;
$color-Eerie_black: 121619;
$color-Raisin_black: 222323;
$color-nickel: 6C6E70;

body {
  background-color: #fffff1;
  padding: 0;
  margin: 0;
}

.fotoblog {
  width: 100%;
  border: 1px solid black;
}

.mitexto {
text-align: center;
font-size: 20px;
font-weight: 700;
font-family:Roboto;
}

.fotoperfil {
border-radius:131px;
}