/* _variables */

//Color Sheme

$White: #FFFFFF;
$Black: #000000;
$Sable: #060606;
$Charcoal: #2E1503;
$Tangerine: #FFAF6D;
$Orange: #FFA500;

$cero: 0;

$Ubuntu: 'Ubuntu', sans-serif;
$Poppins: 'Poppins', sans-serif;

//Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 12px;

//Font Weigth
$Regular: 400;
$Bold: 700;