/* _layout_footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $Black;
  font-family: $Poppins;
  color: $White;
  height: 5em;
}

.footer__copyright {
  clear: both;
  margin: auto;
  display: grid;

  &--p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: $small;
  }
}

.footer__ads {
  margin: auto;
  display: flex;

  &--a {
    margin-top: auto;
    margin-bottom: auto;
    font-size: $small;
    padding-right: 20px;
    color: $White;
  }
}

.footer__ads .footer__ads--a:active,
.footer__ads .footer__ads--a:hover {
  color: $Orange;
}

@media (max-width: 575.98px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    height: 140px;
    .footer__copyright {
      display: grid;
      text-align: center;
    }
    .footer__ads {
      display: grid;
      text-align: center;

      &--a {
        padding-bottom: 0.5em;
      }
      .footer__ads--group {
        display: grid;
        text-align: center;
        .button {
          width: 60px;
          margin-left: 30%;
          margin-top: 3%;
        }
      }
    }
  }
}
