/* _layout_navbar */


.navbar_img{
    width: 2rem;
}

.nav_link {
  font-family: $Poppins;
  font-size: $medium;
  padding: 0em 0.5em;
}

.navbar-nav 
    .nav-item{
        .nav_link {
            color: $White; 
    } 
}

.navbar-nav .nav-item.active .nav_link,
.navbar-nav .nav-item:hover .nav_link {
  color: $Orange;
}


.navbar__icon{
    color: $White;

    &:active,
    &:hover{
        color: $Orange;
    }
}
