/* _cards */
.card {
  margin: 5px;
  cursor: pointer;
  .card__title {
  }
  .card__body {
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      padding: 0 5px;
    }
    p {
      padding: 5px 10px;
    }
  }
}
